.content-wrap {
    padding-bottom: 10%;
    padding-top: 10%;
    
    @include medium {
        padding-bottom: 20%;
        padding-top: 20%;    
    }
}

.column .content-wrap {
    padding-left: 10%;
    padding-right: 10%;
}

// Main Content
.main {
    padding: 40px 0;
    
    @include large {
        padding: 80px 0;
    }
}