/**
 * partials/footer
 * ---
 */

.footer {
    background: #111;
    color: $light-grey;
    padding: 40px 0 0;
    
    @include large {
        padding: 80px 0 0;
    }
    
    .copyright {
        margin: 60px 0 ;
    }
}

.footer-links {
    list-style: none;
    padding: 0 0 40px;
    margin: 0;
    
    a {
        color: #fff;
    }
}

