// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

textarea,
select {
  padding: 20px; // The 6px vertically centers text on FF, ignored by Webkit
  background-color: $light-grey;
  border: 1px solid $light-grey; 
  box-shadow: none;
  box-sizing: border-box;
}

// Removes awkward default styles on some inputs for iOS
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background-color: $light-grey;
    border: 1px solid $light-grey; 
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    padding: 20px;
    
    margin-bottom: 30px;
    
    
  }
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input {
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus {
    border: 1px solid $dark-grey;
    outline: 0;
  }
}

textarea:focus,
select:focus {
  border: 1px solid $dark-grey;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

// Form Specfic Styles
form button {
    width: 100%;
}
