// Flexbox Grid

// Note: can be nested

// <div class="reviews-grid">
//   <div class="reviews-grid-item">
//     <div class="reviews-grid-content">
//       <p>This is the content</p>
//     </div>
//   </div>
// </div>

.reviews-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.reviews-grid-item {
    position: relative;
    display: flex; 
//    padding: 0.5em;
    width: 100%;
    min-height: 300px;
    
    //background-color: $light-grey;
    // can be given an inline backgorund image
    background-size: cover;
    background-position: center center;
    
    @include large {
        width: 50%;
    }
    
    &.text {
        align-items: center;
    }
    
    &.photo + .text:after {
        position: absolute;
        content: ' ';
        width: 0;
        height: 0;
        top: 40px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid white;
        left: -20px;
    }
    
    &.text + .photo:after {
        position: absolute;
        content: ' ';
        width: 0;
        height: 0;
        top: 40px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid white;
        border-right: none;
    }
    
    > .reviews-grid .reviews-grid-item {
        @include medium {
            width: 50%;
        }
    }
    
    // changing background colors on medium only
    @include medium-only {
        &:nth-child(odd) .reviews-grid-item.text {
            background: $light-grey;
            
            &:after {
                border-right-color: $light-grey;
            }
        }
        
        &:nth-child(odd) .reviews-grid-item.photo:after {
            border-left-color: $light-grey;
        }
    }
    
    // changing background colors on large screens
    @include large {
        &:nth-child(3n+1) .reviews-grid-item.text {
            background: $light-grey;
            
            &:after {
                border-right-color: $light-grey;
            }
        }
        
        &:nth-child(3n+1) .reviews-grid-item.photo:after {
            border-left-color: $light-grey;
        }
    }
}

.reviews-grid-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    justify-content: center;
    color: #000;
    padding: 1em;
}

.reviews-grid-content p {
    flex: 1 0 auto;
}