/**
 * partials/header
 * ---
 */


// Header container
.header {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 200px;
    
    .header-message {
        position: relative;
        width: 100%;
        z-index: 10;
    }

    .cover-image {
        position: absolute;
        left: 0px;
        top: 0px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        z-index: -999999;
        
        background-size: cover;
        background-position: center center;
    }
    
    &.header-with-feature {
        color: #fff;
        min-height: 100vh;
        
        @include large {
            min-height: 800px;
        }
    }
    
    &:not(.header-with-feature) {
        margin-top: 40px;
        
        @include medium {
            margin-top: 80px
        }
    }
    
    // Home page video
    video#bgvid { 
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: url(polina.jpg) no-repeat;
        background-size: cover; 
    }
    
    h1 {
        letter-spacing: 3px;
    }
}
