// Navbar

.navbar {
    transition: ease-in-out all 300ms;
    margin-bottom: 20px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border: 0 solid transparent;
    min-height: 50px;
    padding: 25px 0;
    background: transparent;
    border: none;

    
    // Logo
    .logo {
        width: 220px;
        float: left;
    }
    
    .mobile-nav-toggle {
        
        @include medium {
            display: none;
        }
    }
    
    // actual navigation items
    .nav-header {
        float: right;
        display: inline-block;

        ul {
            list-style: none;
            margin: 0;
        }
        
        li {
            display: block;
            
            @include medium {
                display: inline-block;
                margin-left: 20px;     
            }
        }
        
        a {
            color: #000;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 800;
            letter-spacing: 2px;
        }
        
        // CTA in the nav
        .nav-cta {
            @extend .button;
            a {
                color: #fff !important;
            }
        }
    }
    &.has-featured-image {
        .nav-header {
            a {
                color: #fff;
            }
        }
    }
    
    // Shown on Scroll
    &.on-scroll {
        background: rgba(255,255,255,0.95);

        
        .nav-header {
            a {
                color: #000;
            }
        }
    }
    
    .mobile-nav-toggle {
        float: right;
    }
}