.reviews {
    
    .review,
    .review-img,
    .review-text {
        width: 100%;
        
        @include medium {
            width: 50%;
        }
    }
    
    .row {
        @include medium {
            display: flex;
        }
    }
    
    .review-img {
    }
    
    .review-text {
        padding: 20px;
        background: $light-grey;
    }
}