/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */


$font-family-base: 'Raleway', 'Helvetica Neue', Helvetica, Arial, 'Open Sans', sans-serif;
$font-family-serif: 'Merriweather', Georgia, 'Droid Sans', serif;
$font-size-base: 18px;
$line-height-base: 1.45;

/**
 * Colors
 */

$text-color: #444;
$body-bg: #fff;
$selection-bg: #04A4CC;
$light-grey: #f5f5f5;
$dark-grey: #333;
$red: #DD242F;
$primary-color: #DD242F;
$secondary-color: #DD242F;

$link-color: #333;

/**
 * Grid
 */

$container-width: 960px !default;
$medium-width: 720px !default;
$large-width: 1000px !default;
$total-column-count: 12 !default;
$column-width: 100 / $total-column-count !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;